/****************************************************************************


CHK_CFG.RC

produced by Borland Resource Workshop


*****************************************************************************/

#include "chk_cfg.rh"
DLG_OPTIONS DIALOG 7, 24, 343, 231
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
{
 LISTBOX IDC_LIST, 8, 24, 276, 88, LBS_NOTIFY | WS_BORDER | LBS_OWNERDRAWFIXED | LBS_USETABSTOPS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 EDITTEXT IDC_EDIT_AV, 8, 122, 115, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_EDIT_PREF, 127, 122, 40, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_EDIT_DRIVE, 171, 122, 22, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_EDIT_POST, 197, 122, 40, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_EDIT_MEM, 241, 122, 34, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "&Update", IDC_BTN_UPDATE, 8, 150, 45, 14
 PUSHBUTTON "&Add", IDC_BTN_ADD, 8, 171, 45, 14
 PUSHBUTTON "&Remove", IDC_BTN_REMOVE, 63, 150, 45, 14
 PUSHBUTTON "Re&move all", IDC_BTN_REMOVEALL, 63, 171, 45, 14
 PUSHBUTTON "&Browse...", IDC_BTN_BROWSE, 35, 192, 45, 14
 LTEXT "Options", -1, 119, 141, 27, 8
 CONTROL "&Check serial", IDC_CHK_CHECKSERIAL, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 124, 155, 54, 10
 LTEXT "Retry in DOS", IDC_TXT_RETRYDOS, 205, 156, 44, 8
 LTEXT "Size of serial queue", IDC_TXT_QUEUE, 124, 191, 66, 8
 LTEXT "Retry in Windows", IDC_TXT_RETRYWIN, 205, 191, 58, 8
 LTEXT "&DOS", -1, 291, 118, 16, 8
 CHECKBOX "A", IDC_CHECK_DOSA, 290, 126, 18, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 CHECKBOX "B", IDC_CHECK_DOSB, 290, 139, 18, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 LTEXT "&Win", -1, 317, 118, 16, 8
 CHECKBOX "A", IDC_CHECK_WINA, 316, 126, 18, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 CHECKBOX "B", IDC_CHECK_WINB, 316, 139, 18, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 CONTROL "Button", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 295, 34, 37, 25
 CONTROL "Button", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 295, 78, 37, 25
 CONTROL "", IDC_GRP_OPT, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE | WS_GROUP, 117, 151, 162, 73
}
